.top-block {
  display: flex;
  align-items: flex-start;
}

.top-logo {
  display: flex;
  flex: 0.1;
}

/*img {*/
  /*display: block;*/
/*}*/

.top-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: black;
}

.top-menu a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-menu a:hover {
  background-color: #ddd;
  color: black;
}

.top-menu a.active {
  background-color: #e5253a;
  color: white;
}

.top-menu-left {
  display: flex;
  justify-content: left;
}

.top-menu-right {
  display: flex;
  justify-content: end;
}

.active-page {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}
